* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	background-color: #f2f3f8;
}
.container {
	max-width: 1130px;
	margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
}